<html>
  <head>
    <meta charset="utf-8" />
    <title>Square equation solver</title>
  </head>
  <body>
    <h1>Problem</h1>
    Vasya is in school and bad teached gave him a lot of homework. Vasya is lazy
    and he asked you for help. All tasks in his homework is quadratic equations
    (ax^2 + bx + c == 0) in integer numbers (Vasya don't know fractions now).
    <h2>Input-Output</h2>
    Vasya push to stack <code>a b c</code> in given order (<code>c</code> on top
    of stack). And Vasya will read results from stack. For example, if roots is
    1 and 2 you should push it on stack in any order. For infinite solution push
    any three values.
    <h2>Example</h2>
    <h4>Stack before</h4>
    <pre>
1
-3
2 (top)
    </pre>
    <h4>Stack after</h4>
    <pre>
1
2 (top)
    </pre>
    <h6>
      Vasya have only primitive computer, so he can run only one rare language.
      Probably, you dont know it, but Vasya gave
      <a href="/specs">instruction</a>.
    </h6>
    <h1>Submit answer</h1>
    <form method="POST">
      <textarea name="code"></textarea>
      <br />
      <input type="submit" />
    </form>
  </body>
</html>
