<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>@mailforscam.site</title>
  </head>
  	<style>body { background: url("https://phonoteka.org/uploads/posts/2021-05/1621478733_15-phonoteka_org-p-cherno-fon-17.png"); }</style> 	
  <body>
     <div class="container">
    <h1 style="text-align: center;color: #fff;">MailForScam</h1>
     </div>
    <br><br>       
    <form action="check-email" method="POST">
      <div style="text-align: center;">
        <label for="e-mail"><strong style="color: #fff;">Почтовый ящик:</strong></label>
        <input style="text-align:right;"name="first_name" id="first_name"><strong style="color: #fff;">@mailforscam.site</strong>
      </div>
        <br>
      <div>
        <button style="position: relative;left: 50%;transform: translate(-50%, 0);">Проверить почту</button>
      </div>
        <h4 style="text-align: center; color: #fff;">Простые одноразовые почтовые ящики для покупки вирусов в интернете</h4>
        <hr>
    </form>
  </body>
</html>
