<!DOCTYPE html>
<html lang = 'en'>
<meta charset = 'utf-8'/>
<form method = "POST">
  <link rel="stylesheet" href="static/style/style.css" />
<body>
      <input type="text" id = 'username' class = 'input-in kal' name = 'username' placeholder= "Login" />
      <br>
      <input type="password" id = 'password' class = 'input-inn kal' name = 'password' placeholder= "Password" />
      <br>
      <button id = "click" class = 'bebra'>authorize</button>
    <style>
        body {
            background: url(static/images/ananas.jpg) no-repeat center center fixed;
            background-size: cover;
        }
    </style>
  </body>
</form>
</html>
